
@{
    Layout = null;

    var courdetail = ViewBag.Studentt;
}

<h2>Course</h2>

<div>
    <ul>
        <li>@courdetail.Title</li>
        <li>@courdetail.Name</li>
        <li>@courdetail.Rollnumber</li>
        <li>@courdetail.Mark</li>
    </ul>
</div>